<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title">{{clickModalCenterParams.titleParam}}</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); activeModalF()"></button>
		</div>
		<div class="modal-body">
			<!-- <p>{{clickModalCenterParams.contentParam}}</p> -->
			 <div class="bg-warning">123</div>
			 <div class="bg-danger">123</div>
			 <div class="bg-success">123</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="modal.close('Close click'); activeModalF()">{{clickModalCenterParams.close}}</button>
		</div>
</ng-template>


<button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content); activeModalT()">
	{{clickModalCenterParams.buttonParam}}
</button>