<h1 class="px-3 mb-5">氣象站清單</h1>
<input type="hidden" class="hiddenCol" value="test" (change)="clickModal($event)"/>

<click-modal-center [clickModalCenterParams]="clickModalCenterParams" [activeModal]="activeModal" (activeModalChange)="activeModalChangeF($event)"></click-modal-center>

<!-- 篩選input -->
<div class="container-fluid mb-5 d-flex justify-content-center">
  <div class="mb-3 w-75 d-inline-flex align-items-center">
      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">縣市</label>
        <select class="form-select" id="inputGroupSelect01" (change)="countySelected($event)" [(ngModel)]="CountyName">
          <option selected [value]="defaultString">--請選擇</option>
          <option *ngFor="let perCounty of filteredCountyList" [value]="perCounty">{{perCounty}}</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect02">鄉鎮市區</label>
        <select class="form-select" id="inputGroupSelect02" [disabled]="ifCountySelected" [(ngModel)]="TownName">
          <option selected [value]="defaultString">--請選擇</option>
          <option *ngFor="let perTown of filteredTownList" [value]="perTown">{{perTown}}</option>
        </select>
        <button class="fa-icon btn btn-prim-main01 px-2 me-2" type="button" id="inputGroupFileAddon03" (click)="doFilter()">
          <fa-icon class="m-0 p-0" [icon]="faFilter"></fa-icon>
        </button>
      </div>
    <fa-icon class="fa-icon clear-button m-0 p-0 me-1 d-inline-flex text-basic-lGray cursor-pointer" [icon]="faTimesCircle" size="xl" (click)="doClear()"></fa-icon>
  </div>
</div>

<!-- 篩選結果 ngdatatable -->
<div class="container-fluid pb-5">
  <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
</div>