<div class="row justify-content-between px-5 py-3">

  <div class="col-auto d-flex justify-content-center align-items-center gap-3">
    <a [routerLink]="['/']">
      <h1 class="text-sec-mainDark">氣象站資料查詢</h1>
    </a>
      <!-- <click-modal-center [clickModalCenterParams]='clickModalCenterParams'></click-modal-center>
      <click-modal-scroll [clickModalScrollParams]='clickModalScrollParams'></click-modal-scroll> -->
  </div>

  <div class="col-auto d-flex justify-content-center align-items-center gap-3">
    <a (click)="navClick('home')" [ngClass]="{'active': activeNav === 'home'}" [routerLink]="['/']" class="col-auto btn btn-prim-main01">首頁</a>
    <a (click)="navClick('weather')" [ngClass]="{'active': activeNav === 'weather'}"  [routerLink]="['/queryPage']" class="col-auto btn btn-prim-main01">氣象站查詢</a>
  </div>
</div>

