<div class="row justify-content-between px-5 py-3 header-div flex-nowrap">
  <div class="col-auto d-flex justify-content-center align-items-center gap-3">
    <app-offcanvas></app-offcanvas>
    <a [routerLink]="['/']">
      <h2 class="spac-1 d-inline-block text-main-dark header-text-width">Ze <span class="h2 text-prim-main01 header-text-width">Weather</span>
        Channel</h2>
    </a>
  </div>

  <div class="col-auto d-none d-md-flex justify-content-center align-items-center gap-3">
    <a
      (click)="navClick('home')"
      [ngClass]="{ active: activeNav != 'weather' }"
      [routerLink]="['/']"
      class="col-auto btn btn-prim-main01 active"
      >首頁</a
    >
    <a
      (click)="navClick('weather')"
      [ngClass]="{ active: activeNav == 'weather' }"
      [routerLink]="['/queryPage']"
      class="col-auto btn btn-prim-main01"
      >氣象站查詢</a
    >
  </div>
</div>
