<div class="position-relative loading-box d-flex flex-column align-items-center justify-content-center">
    <div>
      <fa-icon class="loading-item testT" [icon]="faSun" size="5x">faSun</fa-icon>
    </div>
    <div class="ms-5 mt-3">
      <span class="loading-text position-relative">L</span>
      <span class="loading-text position-relative">o</span>
      <span class="loading-text position-relative">a</span>
      <span class="loading-text position-relative">d</span>
      <span class="loading-text position-relative">i</span>
      <span class="loading-text position-relative">n</span>
      <span class="loading-text position-relative">g</span>
      <span class="loading-text position-relative">.</span>
      <span class="loading-text position-relative">.</span>
      <span class="loading-text position-relative">.</span>
    </div>
  </div>