<div class="row">
    <div class="col-3 border-right border-2 cell-padding">
        <div class="cell-padding border h-100 d-flex align-items-center justify-content-center text-white" [ngClass]="'bg-' + mainColor">
            <fa-icon [icon]="faCloudSun" class="align-center" size="3x">faCloudSun</fa-icon>
        </div>
    </div>
    <div class="col-9">
        <div class="row border-bottom border-2 cell-padding">
            <div class="col">
                <h5>{{title}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4 cell-padding border-right">
                <div class="border-bottom border-2 cell-padding">{{title02}}</div>
                <div class="cell-padding"><h1>4</h1></div>
            </div>
            <div class="col-8 cell-padding">
                <div class="border-bottom cell-padding">監測縣市： </div>
                <div class="cell-padding">監測時間：<br>123</div>
            </div>
        </div>
    </div>
</div>