body {
  margin: 0;
  /* 全域樣式-變數 */
  --basic-gray: #616161;
  --basic-lGray: #afafaf;
  --prim-mainDark: #0f202e;
  --prim-main01: #3693de;
  --prim-main02: hsl(207, 56%, 65%);
  --prim-main03: #97c0e1;
  --prim-main04: #dbe7f0;
  --prim-mainLight: #e7eef3;
  --sec-mainDark: #392619;
  --sec-main01: #f0a75f;
  --sec-main02: #ffe4ce;
  --other-danger: #ff7b5e;
  --other-warn: #ffe680;
  --other-success: #38a965;
}
.table-primary{
  --bs-table-bg: #3693de;
  --bs-table-color: white;
}
* {
  /* 文字規範 */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: var(--sec-mainDark);
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a,
  a:hover,
  a:active {
    text-decoration: none;
  }
}
svg *, .btn *, button *, path *, .fa-icon *, fa-icon *{
  color: unset;
  background-color: unset;
}
.text-prim-main01{
  color: var(--prim-main01)
}
.text-main-dark{
  color: var(--prim-mainDark)
}
.text-sec-mainDark {
  color: var(--sec-mainDark);
}
.text-basic-lGray {
  color: var(--basic-lGray);
}
.text-basic-gray {
  color: var(--basic-gray);
}
.text-white{
  color: white;
}
.mp-0 {
  margin: 0;
  padding: 0;
}
.btn {
  border: 0;
}
.btn-prim-main01,
.btn-prim-main01:visited {
  color: white;
  background-color: var(--prim-main01);
  &:hover,
  &.actived,
  &.btn-prim-main01:active,
  &.btn-prim-main01.active:visited {
    color: var(--basic-gray);
    background-color: transparent;
  }
}
.btn-noBg-darkT,
.btn-noBg-darkT:visited {
  color: var(--basic-lGray);
  background-color: transparent;
  &:hover,
  &.actived,
  &.btn-prim-main01:active,
  &.btn-prim-main01.active:visited {
    color: white;
    background-color: var(--basic-lGray);
  }
}
.spac-1 {
  letter-spacing: 0.15rem;
}
.cursor-pointer {
  cursor: pointer;
}
.w-15 {
  width: 15%;
}
.dt-table-spac{
  letter-spacing: 0.1rem;
}
.dt-text-left{
  text-align: left !important;
}
.bg-prim-main01{
  background-color: var(--prim-main01);
}
.bg-prim-main02{
  background-color: var(--prim-main02);
}
.bg-prim-main03{
  background-color: var(--prim-main03);
}
.bg-prim-main04{
  background-color: var(--prim-main04);
}